.navbar .navbar-nav .nav-link {
  color: #525151;
  font-size: 1.1em;

}

.navbar .navbar-nav .nav-link:hover {
  color: #808080;
}

.sm-icons {
  flex-direction: row;
}

@media only screen and (max-width: 1080px) {
  .sm-icons .nav-item {
    padding-right: 1em;
  }

  #spenden-button {

    font-size: 80%;
    line-height: 1;
  }

  .sub-heading {
    display: none;
  }

  .heading {
    display: none;
  }

}


.ksl {
  font-size: 25px;
}

.form {

  position: absolute;
  width: 50%;
  height: 10%;
  top: 45%;
  left: 25%;
}

.m-4 {
  text-align: center;
}


.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  color: rgb(0, 0, 0);
  text-shadow: 0 0 2px rgb(139, 46, 46);
  margin-bottom: 5px;
  height: 140px;

}

.sub-heading {
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-shadow: 0 0 2px rgb(0, 0, 0);
  margin-bottom: 15px;
  margin-top: px;
}

.button-container {
  margin-bottom: 200px;
}

#spenden-button {
  margin-top: 40px;
}


.btn {
  background: #c61e1e;
  border: none;
  color: white;
  padding: 8px 16px;
  font-size: 24px;
  border-radius: 6px;
}

.scrolling-box {
  scroll-behavior: smooth;
}

.card {
  text-align: start;
}


.accordion {
  padding-top: 70px;
  padding-bottom: 120px;
}

.button-acc {
  text-align: right;
  margin-top: 46px;
}


* {
  font-family: 'Roboto', sans-serif;
}